BODY{
    BACKGROUND-COLOR: AQUAMARINE;

}

H1{
font-weight: BOLD;
text-align:CENTER ;
font-familY: sans-serif;

}

H2{
text-decoration: underline;
color:blue;
text-align:center;


}





h3{
  color: red;  
}