body{
    background-color:orange

}
h1{
    color:goldenrod;
    text-align:center;
    font-size:72px;
    font-weight:bold;
    font-style:italic;
    text-decoration:underline;

}

li{
    color:aquamarine;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}